.w-40{
    width: 35px;
   
}
.w-90{
    width: 90px;
}

.w-50{
    width: 50px;
}
.w-55{
    width: 55px;
}
.w-70{
    width: 70px;
}
.w-60{
    width: 60px;
}
.w-190{
    width: 190px;
}
.w-100{
    width: 100px;
}
.w-150{
    width: 150px;
}
.w-165{
    width: 165px;
}
.w-200{
    width: 200px;
}
.w-250{
    width: 250px;
}
.w-350{
    width: 350px;
}
.w-340{
    width: 340px;
}
.w-360{
    width: 360px;
}
.w-380{
    width: 380px;
}
.w-300{
    width: 300px;
}
.w-330{
    width: 330px;
}
.w-400{
    width: 400px;
}
.w-500{
    width: 500px;
}
.w-600{
    width: 600px;
}
.w-700{
    width: 700px;
}
.w-800{
    width: 800px;
}
.w-900{
    width: 900px;
}
.w-1000{
    width: 1000px;
}
.w-1100{
    width: 1100px;
}
.w-1200{
    width: 1200px;
}
/* Presnateg */
.wp-20{
    width: 20%;
}
.wp-30{
    width: 30%;
}
.wp-40{
    width: 40%;
}
.wp-50{
    width: 50%;
}

.wp-60{
    width: 60%;
}
.wp-70{
    width: 70%;
}
.wp-80{
    width: 80%;
}
.wp-90{
    width: 90%;
}

.wp-100{
    width: 100%;
}

