.pr-10{
    padding-right: 10px;
}
.pr-20{
    padding-right: 20px;
}
.pr-30{
    padding-right: 30px;
}
.pr-40{
    padding-right: 40px;
}
.pr-50{
    padding-right: 50px;
}
.pr-60{
    padding-right: 60px;
}
.pr-70{
    padding-right: 70px;
}
.pr-80{
    padding-right: 80px;
}
.pr-90{
    padding-right: 90px;
}
.pr-100{
    padding-right: 100px;
}
.pr-110{
    padding-right: 110px;
}
.pr-120{
    padding-right: 120px;
}
.pr-130{
    padding-right: 130px;
}
.pr-140{
    padding-right: 140px;
}
.pr-150{
    padding-right: 150px;
}
.pr-160{
    padding-right: 160px;
}
.pr-170{
    padding-right: 170px;
}
.pr-180{
    padding-right: 180px;
}
.pr-190{
    padding-right: 190px;
}
.pr-200{
    padding-right: 200px;
}
.pr-20{
    padding-right: 20%;
}
.pl-19{
    padding-left: 70px;
}
.pl-100{
    padding-left:150px ;
}
.pr-200{
    padding-right: 400px;
}
.pl-22{
    padding-left: 22px;
}
.pr-4p{
    padding-right: 4%;
}
.pl-3p{
    padding-left: 3%;
}