.mb-5p{
    margin-bottom: 5%;
}

.mlp-50{
    margin-left: 35%;
    -webkit-transition: 2s;
}
.mlp-25{
    margin-left: 25%;
    -webkit-transition: 2s;
}
.mt-20{
    margin-top: 20px;
}
.mt-40{
    margin-top: 40px;
}
.mt-50{
    margin-top: 50px;
}
.mt-55{
    margin-top: 55px;
}
.mt-54{
    margin-top: 54px;
}
.mt-53{
    margin-top: 53px;
}
.mt-60{
    margin-top: 60px;
}

.mt-70{
    margin-top: 70px;
}
.mt-80{
    margin-top: 80px;
}
.mt-90{
    margin-top: 90px;
}
.mt-100{
    margin-top: 100px;
}
.mt-110{
    margin-top: 110px;
}
.mt-120{
    margin-top: 120px;
}
.mt-130{
    margin-top: 130px;
}
.mt-140{
    margin-top: 140px;
}
.mt-150{
    margin-top: 150px;
}
.mt-160{
    margin-top: 160px;
}
.mt-165{
    margin-top: 165px;
}
.mt-170{
    margin-top: 170px;
}
.mt-180{
    margin-top: 180px;
}
.mt-190{
    margin-top: 190px;
}
.mt-200{
    margin-top: 200px;
}
.mt-240{
    margin-top: 240px;
}
.mt-250{
    margin-top: 250px;
}
.mt-260{
    margin-top: 260px;
}
.mt-270{
    margin-top: 270px;
}
.mt-280{
    margin-top: 280px;
}
.mt-290{
    margin-top: 290px;
}
.mt-300{
    margin-top: 300px;
}
.mt-310{
    margin-top: 310px;
}
.mt-320{
    margin-top: 320px;
}
.mt-330{
    margin-top: 330px;
}
.mt-340{
    margin-top: 340px;
}
.mt-350{
    margin-top: 350px;
}
.mt-360{
    margin-top: 360px;
}
.mt-370{
    margin-top: 370px;
}
.mt-380{
    margin-top: 380px;
}
.mt-390{
    margin-top: 390px;
}
.mt-400{
    margin-top: 400px;
}
.mt-410{
    margin-top: 410px;
}
.mt-420{
    margin-top: 420px;
}
.mt-430{
    margin-top: 430px;
}
.mt-440{
    margin-top: 440px;
}
.mt-490{
    margin-top: 490px;
}
.mt-455{
    margin-top: 455px;
}
.ml-350{
    margin-left: 350px;
}
.ml-45p{
    -webkit-transition: 2s;
    margin-left: 45%;
}
.ml-41p{
    -webkit-transition: 2s;
    margin-left: 40%;
}
.ml-40p{
    -webkit-transition: 2s;
    margin-left:30% ;
}
.ml-35p{
    -webkit-transition: 2s;
    margin-left:37% ;
}
.ml-36p{
    -webkit-transition: 2s;
    margin-left: 36%;

}
.ml-80p{
    -webkit-transition: 2s;
    margin-left: 80%;

}
.mr-40{
    margin-right: 40px;
}
.ml-40{
    margin-left: 40px;
}
.mr-15p{
    margin-right: 15%;
}
.ml-3p{
    margin-left: 3%;
}
.ml-160{
    margin-left: 160px;
}
.ml-70{
    margin-left: 70px;
}
.mr-50{
    -webkit-transition: 2s;
    margin-right: 50px;
}
.mb-100{
    margin-bottom: 100px;
}
.mt-100{
    margin-top: 100px;
}
.ml-11p{
    margin-left: 11%;
}
.mr-100{
    margin-right: 100px;
}
.mr-400{
    margin-right: 400px;
}
.ml-10p{
    margin-left: 10%;
}
.ml-8p{
    margin-left: 30%;
}
.ml-33p{
    margin-left: 33%;
}
.ml-360{
    margin-left: 360px;
}
.ml-30p{
    margin-left: 30%;
}
.ml-20p{
    margin-left: 18%;
}
.mr-10p{
    margin-right: 10%;
}
.mr-20p{
    margin-right: 20%;
}
.ml-10p{
    margin-left: 10%;
}
.ml-4p{
    margin-left: 2%;
}
.ml-3p{
    margin-left: 3%;
}
.ml-5p{
    margin-left: 5%;
}
.ml-40{
    margin-left: 40px;
}
.ml-70{
    margin-left: 70px;
}
.mt-20p{
    margin-top: 20%;
}

.mr-25p{
 margin-right:25%;
}
.ml-25p{
    margin-left:25%;
   }

.ResposinveImage{
    margin-left: 20%;
}