/* ml-20 */
/* NavBar */
@media screen and (max-width: 8000px){
    .Resposive {
     
     justify-content: center;
    }
    .marginleaftResposive{
        margin-left: 20%;
    }
    .marginLeftResposiveSecondeImage{
        margin-left: 22%;
    }
}
@media screen and (max-width: 2900px){
    .Resposive {
     
     justify-content: center;
    }
    .Imageol{
        justify-content: center;
    }
   
    

}
@media screen and (max-width:1600px){
   .pt-3{
      
       margin-top: 10px;
   }
 .BackgroundImageurl04{
     display: none;
 }

}
@media screen and (max-width: 1400px){
    .marginleaftResposive{
        margin-left: 0%;
    }
    .marginLeftResposiveSecondeImage{
        margin-left: 0%;
    }
    .w-250{
        width: 100%;
    }
    .pt-3{
       
        padding-top: 20px;
        height: 50px;
    }
    .ml-20{
        -webkit-transition: 2s;
      
        margin-left: 6%;
    }
    .ml-33p{
        -webkit-transition: 2s;
        margin-left: 31%;
    }
    .ml-30p{
        -webkit-transition: 2s;
        margin-left: 28%;
    }
    .w-1000{
        -webkit-transition: 2s;
        width: 950px;
    }
 
}
@media screen and (max-width: 1300px){
    .pr-90{
        -webkit-transition: 2s;
        padding-right: 65px;
    }
    .ml-20{
        -webkit-transition: 2s;
        
        margin-left: 80px;
    }
    .text-sm{
        -webkit-transition: 2s;
        font-size: 10px;
    }
    .ml-11p{
        margin-left: 150px;
    }
    .mr-400{
   
        margin-right: 370px;
    }
    .ml-33p{
        -webkit-transition: 2s;
        margin-left: 28%;
    }
    .ml-30p{
        -webkit-transition: 2s;
        margin-left: 26%;
       
    }
    .w-1000{
        -webkit-transition: 2s;
        width: 900px;
    }
    .h-20 {
        height: 10%;
    }
}
@media screen and (max-width: 1200px){
    .pr-90{
        -webkit-transition: 2s;
        padding-right: 60px;
    }
    .ml-20{
        -webkit-transition: 2s;
        
        margin-left: 80px;
    }
    .text-sm{
        
        -webkit-transition: 2s;
        font-size: 10px;
        width: 900px;
    }
    .ml-33p{
        -webkit-transition: 2s;
        margin-left: 26%;
    }
    .ml-30p{
        -webkit-transition: 2s;
        margin-left: 24%;
        
    }
    
    .w-1000{
        -webkit-transition: 2s;
        width: 800px;
    }
 
}
@media screen and (max-width: 1100px){
    .pr-90{
        -webkit-transition: 2s;
        padding-right: 50px;
    }
    .ml-20{
        -webkit-transition: 2s;
      
        margin-left: 80px;
    }
    .text-sm{
        
        -webkit-transition: 2s;
        font-size: 10px;
        width: 1200px;
    }
    .ml-40 {
        -webkit-transition: 2s;
        margin-left: 40px;
    }
    .imgResposive{
        -webkit-transition: 2s;
        margin-bottom: 20px;
        width: 150px;
        margin-right: 50px;
    }
    .ml-33p{
        -webkit-transition: 2s;
        margin-left: 27%;
    }
    .ml-30p{
        -webkit-transition: 2s;
        margin-left: 22%;
   
    }
 
    
    .w-1000{
        width: 600px;
    }
}
@media screen and (max-width: 1000px){
    .pr-90{
        -webkit-transition: 2s;
        padding-right: 45px;
    }
    .pt-3{
       
        padding-top: 0px;
        height: 50px;
    }
    .ml-20{
        -webkit-transition: 2s;
        
        margin-left: 30px;
    }
    .text-sm{
        
        -webkit-transition: 2s;
        font-size: 10px;
        width: 1200px;
    }
    .ml-40 {
        -webkit-transition: 2s;
        margin-left: 40px;
    }
    .imgResposive{
        -webkit-transition: 2s;
        margin-bottom: 20px;
        width: 150px;
        margin-right: 50px;
    }
    .ml-33p{
        -webkit-transition: 2s;
        margin-left: 24%;
    }
    .ml-30p{
        -webkit-transition: 2s;
        margin-left: 20%;
      
    }
    
    .w-1000{
        -webkit-transition: 2s;
        width: 550px;
    }
    
}
@media screen and (max-width: 950px){
    .pr-90{
        -webkit-transition: 2s;
        padding-right: 30px;
    }
    .ml-20{
        -webkit-transition: 2s;
        
        margin-left:20px;
    }
    .text-sm{
        
        -webkit-transition: 2s;
        font-size: 10px;
        width: 1200px;
    }
    .ml-40 {
        -webkit-transition: 2s;
        margin-left: 10px;
    }
    .imgResposive{
        -webkit-transition: 2s;
        margin-bottom: 20px;
        width: 150px;
        margin-right: 50px;
    }
    .ml-33p{
        -webkit-transition: 2s;
        margin-left: 19%;
    }
    .ml-30p{
        -webkit-transition: 2s;
        margin-left: 18%;
    
    }
    
}
@media screen and (max-width: 900px){
    .ResposiveMainPage2{

       
    }
   .MenuResposive{
       display: block;
   }
   .NavBarResposive{
    display:none;
   }
   .ml-33p{
    -webkit-transition: 2s;
    margin-left: 19%;
}
.ml-30p{
    -webkit-transition: 2s;
    margin-left: 17%;
   
}

.w-1000{
    -webkit-transition: 2s;
    width: 500px;
}
}

/* Main */
/* text-5xl */


@media screen and (max-width: 1400px){
    .mt-180{
        -webkit-transition: 2s;
        margin-top: 140px;
    }
    .ml-11p{
        -webkit-transition: 2s;
        margin-left: 100px;
    }
    .imageResponsive{
        width: 100px;
        height: 100px;
    }
    .mr-60{
        -webkit-transition: 2s;
        margin-right: 24%;
    }
    .ml-160 {
        -webkit-transition: 2s;
        

    }
    .ml-70{
        margin-left: 90px;
    }
    .w-400{
        width: 200px;
    }
    
}
@media screen and (max-width: 1100px){
    .mt-180{
        -webkit-transition: 2s;
        margin-top: 50px;
    }
    .text-5xl{
        -webkit-transition: 2s;
        font-size: 40px;
    }
    .w-1100{
        -webkit-transition: 2s;
        width: 900px;
    }
    .ml-11p{
        -webkit-transition: 2s;
        margin-left: 30px;
    }
    .ml-160 {
        -webkit-transition: 2s;
        width: 830px;

    }
    .f-14{
        -webkit-transition: 2s;
        font-size: 10px;
    }
    .fontResposive{
       
        font-size: 15px;
    }
  
    
}
@media screen and (max-width: 1000px){
    .Resposive{
     
        margin-left: 5%;
     }
    .text-5xl{
        -webkit-transition: 2s;
        font-size: 35px;
    }
    .w-1100{
        -webkit-transition: 2s;
        width: 800px;
    }
    .mr-400{
        margin-right: 350px;
    }
    .ml-160 {
        -webkit-transition: 2s;
        width: 800px;
     
        margin-left: 120px;

    }
    .fontResposive{
       
        font-size: 13px;
    }
 
    
}
@media screen and (max-width: 900px){
    
    
   
    .text-5xl{
        -webkit-transition: 2s;
        font-size: 30px;
    }
    .w-1100{
        -webkit-transition: 2s;
        width: 700px;
    }
    .mr-400{
        -webkit-transition: 2s;
        margin-right: 300px;
    }
    .ml-160 {
        -webkit-transition: 2s;
        width: 680px;
   
        margin-left: 120px;

    }
    .ml-70 {
        -webkit-transition: 2s;
        margin-left: 70px;
    }
    .FlexDrecation{
        -webkit-transition: 2s;
        flex-wrap: wrap;
    }
    .w-400{
        -webkit-transition: 2s;
       width: 400px;
    }
    .paddinTopResposive{
        -webkit-transition: 2s;
        margin-top: 10px;
       width: 650px;
     
    }
   
}
@media screen and (max-width: 800px){
    
    .Resposive{
       
        margin-left: 10%;
    }
    .paddinTopResposive{
        -webkit-transition: 2s;
        margin-top: 10px;
       
       width: 550px;
     
    }
    .pr-90{
        -webkit-transition: 2s;
        padding-right: 17px;
      
     
    }
    
    .text-5xl{
        -webkit-transition: 2s;
        font-size: 25px;
    }
    .w-1100{
        -webkit-transition: 2s;
        width: 500px;
    }
    .mr-400{
        -webkit-transition: 2s;
        margin-right: 250px;
    }
    
    .w-1000{
        -webkit-transition: 2s;
        width: 430px;
    }
  
   
}

@media screen and (max-width: 700px){
    .ParallaxResposive1400widht{
        display: none;
    }
    .ParallaxResposive{
      
        display: block;
    }
    .text-5xl{
        -webkit-transition: 2s;
        font-size: 25px;
    }
    .w-1100{
        -webkit-transition: 2s;
        width: 400px;
    }
    .ml-41p{
        margin-left: 30%;
    }
    .ml-36p{
        margin-left: 20%;
    }
    .mr-400{
        -webkit-transition: 2s;
        margin-right: 200px;
    }
     .mr-60{
        -webkit-transition: 2s;
        margin-right: 18%;
    }
    .ml-160 {
        -webkit-transition: 2s;
        width: 700px;
   
        margin-left: 50px;
       

    }
    .ml-70 {
        -webkit-transition: 2s;
        margin-left: 40px;
    }
    .pr-90{
      
        -webkit-transition: 2s;
        padding-top: 10px;
        padding-right: 20px;
    }
    .w-1000{
        -webkit-transition: 2s;
        width: 300px;
    }
    .pt-4{
        padding-top: 0px;
    }
    .pt-3{
       
        margin-top: 0px;
    }
    .ResercherResposiveMobile{
        display: flex;
    }
    .HaideResercheBar{
        display: none;
    }
    .text-lg{
        font-size: 15px;
    }
}
@media screen and (max-width: 600px){
    .TextResposive{
        padding-top: 10px;
        font-size: 12px;
    }
    .mt-3 {
        margin-top: 5px;
        width: 22px;
       
    }
   .ml-48{
       margin-left: 140px;
   }
   .mr-400{
    -webkit-transition: 2s;
    margin-right: 120px;
}
.ml-11p{
    margin-left: 50px;
}
.ml-33p{
    -webkit-transition: 2s;
    margin-left: 5%;
}
.ml-30p{
    -webkit-transition: 2s;
    margin-left: 3%;
    font-size: 15px;
    width: 500px;
}
.ml-20p{
    -webkit-transition: 2s;
    margin-left: 40px;
}
.f-14{
    -webkit-transition: 2s;
    font-size: 9px;
}
.ml-160 {
    -webkit-transition: 2s;
    width: 600px;

    margin-left: 10px;
   

}
.ml-70 {
    -webkit-transition: 2s;
    margin-left: 40px;
}
.w-1000{
    width: 300px;
}
.pr-90{
      
    -webkit-transition: 2s;
    padding-top: 10px;
    padding-right: 3px;
}

.FlexDrecation{
    flex-wrap: wrap;
}

}