/* .ml-350{
    
} */
/*  mr-40
 */
  @media screen and (max-width: 6200px) {
    .ResposiveWidhtMargin{
        margin-left: 20%;
    }
    .h-720{
        height: 2500px;
    }
    .widhtResposive{
        width: 200px;
    }
    .widhtResposive01{
        width: 300px;
    }
    .widhtResposive02{
        width: 400px;
    }
}
 @media screen and (max-width: 4700px) {
  
    .h-720{
        height: 2300px;
    }
    .mr-40{
        -webkit-transition: 2s;
          
           margin-right: 8rem;
       }
       .ml-10{
           margin-left: 120px;
       }
}
 @media screen and (max-width: 3100px) {
  
    .h-720{
        height: 1400px;
    }
}
 @media screen and (max-width: 2400px) {
 
    .h-720{
        height: 1200px;
    }
}
 @media screen and (max-width: 2200px) {
   
    .h-720{
        height: 1000px;
    }
}
 @media screen and (max-width: 2000px) {
   
    .h-720{
        height: 900px;
    }
}
 @media screen and (max-width: 1800px) {
 
    .h-720{
        height: 800px;
    }
   
}
@media screen and (max-width: 1600px) {
   
  
    .h-720{
        height: 720px;
    }
    .widhtResposive{
        width: 15%;
    }
    .widhtResposive01{
        width: 25%;
    }
    .widhtResposive02{
        width: 30%;
    }
 
}
 @media screen and (max-width: 1400px) {
    .ml-350{
        
        -webkit-transition: 2s;
    margin-left: 400px;
    
    } 
    .TextRespsive{
        font-size: 10px;
    }
   .mr-40{
    -webkit-transition: 2s;
       margin-right: 100px;
       
   }
   .ml-10{
       margin-left: 2.5rem;
   }
  }

  @media screen and (max-width: 1300px) {
    .ml-350{
        -webkit-transition: 2s;
    margin-left: 300px;
   
    } 
    .ResponsiveMargin{
        -webkit-transition: 2s;
        width: 80px;
    }

  }

  
  @media screen and (max-width: 1200px) {
    .ml-350{
        -webkit-transition: 2s;
    margin-left: 220px;
    
   
    } 
    .ResponsiveMargin{
        -webkit-transition: 2s;
        width: 80px;
    }
    .ml-80{
        -webkit-transition: 2s;
        margin-left: 250px;
    }
  }
  @media screen and (max-width: 1100px) {
    .ml-350{
        -webkit-transition: 2s;
    margin-left: 230px;
    
   
    } 
    .ResponsiveMargin{
        -webkit-transition: 2s;
        width: 80px;
    }
    .ml-80{
        -webkit-transition: 2s;
        margin-left: 250px;
    }
    .mr-40{
        -webkit-transition: 2s;
        margin-right: 80px;
    }
  }
  @media screen and (max-width: 1100px) {
    .ml-350{
        -webkit-transition: 2s;
    margin-left: 230px;
    
   
    } 
    .ResponsiveMargin{
        -webkit-transition: 2s;
        width: 80px;
    }
    .ml-80{
        -webkit-transition: 2s;
        margin-left: 250px;
    }
    .mr-40{
        -webkit-transition: 2s;
        margin-right: 80px;
    }
  }
  @media screen and (max-width: 1000px) {
    .ml-350{
        -webkit-transition: 2s;
   
    margin-left: 230px;
    
   
    } 
    .ResponsiveMargin{
        -webkit-transition: 2s;
        width: 80px;
    }
    .ml-80{
        -webkit-transition: 2s;
        margin-left: 230px;
    }
    .mr-40{
        -webkit-transition: 2s;
        margin-right: 40px;
    }
    .Resposive{
        -webkit-transition: 2s;
        margin-left: 250px;
    }
  }
  
  @media screen and (max-width: 900px) {
    .ml-350{
        -webkit-transition: 2s;
    margin-left: 180px;
    
   
    } 
    .ResponsiveMargin{
        -webkit-transition: 2s;
        width: 80px;
    }
    .ml-80{
        -webkit-transition: 2s;
        margin-left: 180px;
    }
    .mr-40{
        -webkit-transition: 2s;
        margin-right: 40px;
    }
    .Resposive{
        -webkit-transition: 2s;
        margin-left: 200px;
    }
  }
  
  @media screen and (max-width: 800px) {
    .ml-350{
        -webkit-transition: 2s;
    margin-left: 150px;
    
   
    } 
    .ResponsiveMargin{
        -webkit-transition: 2s;
        width: 80px;
    }
    .ml-80{
        -webkit-transition: 2s;
        margin-left: 180px;
    }
    .mr-40{
        -webkit-transition: 2s;
        margin-right: 40px;
    }
    .Resposive{
        -webkit-transition: 2s;
        margin-left: 180px;
    }
  }
  
  @media screen and (max-width: 700px) {
    .Inscipation{
        -webkit-transition: 2s;
       padding-left: 50px;
       
    }
    .ml-350{
        -webkit-transition: 2s;
    margin-left: 150px;
    
   
    } 
    .ResponsiveMargin{
        -webkit-transition: 2s;
        width: 80px;
    }
    .ml-80{
        -webkit-transition: 2s;
        margin-left: 180px;
    }
    .mr-40{
        -webkit-transition: 2s;
        margin-right: 20px;
    }
    .ml-35p{
        margin-left: 22%;
    }
    .Resposive{
        -webkit-transition: 2s;
        margin-left: 150px;
    }
  }

  @media screen and (max-width: 600px) {

    .Inscipation{
        -webkit-transition: 2s;
       padding-left: 40px;
    }
    .ml-350{
        -webkit-transition: 2s;
    margin-left: 50px;
    
   
    } 
    .ResponsiveMargin{
        -webkit-transition: 2s;
        width: 80px;
    }
    .ml-80{
        -webkit-transition: 2s;
        margin-left: 100px;
    }
    .mr-40{
        -webkit-transition: 2s;
        margin-right: 20px;
    }
    .Resposive{
        -webkit-transition: 2s;
        margin-left: 80px;
    }
    .ResposiveWidhtMargin{
        margin-left: 16%;
    }
    .ResposiveWidhtMargin{
        width: 500px;
    }
  }